

@model NtccSteward.Modules.Church.ChurchModule

@{
    ViewBag.Title = @Model.DisplayText;
}

<span class="sectionTitle">@Model.DisplayText</span>

<div id="churchProfile" class="nstable" style="width:100%;">
    <div class="nstablerow">
        <div class="nstablecell" style="width:115px;vertical-align:top;padding: 0px;">
            <div id="moduleMenu">
                @foreach (var m in @Model.Modules)
                {
                    <a href="#" class="moduleLink cell" onclick="churchModuleLinkClick('@m', '@Model.Id')">@m</a>
                }
            </div>
        </div>
        <div class="nstablecell" style="padding: 0px;vertical-align:top;">
            <div id="moduleContent" class="moduleContent" style="padding-right: 4px;">
                @{
                    Html.RenderPartial("~/Views/Church/_ChurchProfile.cshtml", Model.InitialModule);
                }
            </div>

            <img id="profileLoader" class="spinner" src="~/images/ajax-spinner.gif" style="visibility:hidden;" />
        </div>
    </div>
</div>


@section scripts {
    
    <script src="~/Scripts/church.js"></script>

    <script type="text/javascript">
            selectModuleLink('Church Info');

            wireEventHandlers("church");
    </script>
}
