@model NtccSteward.ViewModels.Church.ChurchIndexViewModel
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     ViewBag.Title = "Churches";
}

<span class="sectionTitle">Church List</span>

<div id="chu">

    <form class="form-inline">
        <input type="search" id="churchSearch" class="form-control" style="padding:3px;width:300px;margin-bottom:4px;margin-left:0px;" placeholder="Church Name Search"
               oninput="FilterTable('memberTbl', this.value, 'Full Name')" />

        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addChurch" style="margin-left:8px;margin-bottom:4px;">Add</button>
    </form>

    <table id="memberTbl" class="table table-sm table-hover table-bordered">

        <thead class="thead-default">
            <tr>
                <th class="text-center">
                    Church Name
                </th>
                <th class="hideXs text-center">
                    Status
                </th>
                <th class="hideXs text-center">
                    Pastor
                </th>
                <th class="text-center">
                    Phone
                </th>
                <th class="visible-xs text-center">
                    Text
                </th>
                <th class="text-center">
                    Email
                </th>
                <th class="text-center">
                    Map
                </th>
                <th class="hideXs">
                    &nbsp;
                </th>
            </tr>
        </thead>

        @foreach (var m in Model.ChurchList)
        {
            <tr>
                <td>
                    @Html.ActionLink(m.Name, "Edit", "Church", new { id = m.id }, null)
                </td>
                <td class="hideXs">
                    @m.Status
                </td>
                <td>
                    @m.Pastor 
                </td>
                <td class="text-center">
                    <span class="hidden-sm hidden-md hidden-lg">
                        @if (!string.IsNullOrWhiteSpace(m.Phone))
                        {
                            <a href="tel://@(String.Format("{0:###-###-####}", double.Parse(m.Phone)))"><img class="icon32" src="~/Content/images/Calls-32.png" alt="call" /></a>
                        }
                        else
                        {
                            <span>&nbsp;</span>
                        }
                    </span>
                    <span class="hidden-xs">@m.Phone</span>
                </td>
                <td class="visible-xs text-center">
                    @if (!string.IsNullOrWhiteSpace(m.Phone))
                    {
                        <a href="sms://@(String.Format("{0:###-###-####}", double.Parse(m.Phone)))"><img class="icon32" src="~/Content/images/Text-32.png" alt="call" /></a>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </td>
                <td class="text-center">
                    <span class="hidden-sm hidden-md hidden-lg">
                        @if (!string.IsNullOrWhiteSpace(m.Email))
                        {
                            <a href="mailto://@m.Email"><img class="icon32" src="~/Content/images/Mail-32.png" alt="email" /></a>
                        }
                        else
                        {
                            <span>&nbsp;</span>
                        }
                    </span>
                    <span class="hidden-xs">@m.Email</span>
                </td>
                <td class="text-center">
                    @if (!string.IsNullOrWhiteSpace(m.Address))
                    {
                        <a href="https://www.google.com/maps/place/@(m.Address?.Replace(' ', '+'))" )><img class="icon32" src="~/Content/images/Maps-32.png" alt="map" /></a>
                    }
                    else
                    {
                        <span>&nbsp;</span>
                    }
                </td>
                <td class="text-center hideXs">
                    @Html.ActionLink("Delete", "DeleteChurch", "Church", new { @id = m.id }, null)
                </td>
            </tr>
        }
    </table>
</div>

<input type="hidden" id="memberId" />

<div class="modal fade" id="addChurch">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Add Church</h4>
            </div>

            <div class="modal-body">
                <form class="form">
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="firstName" class="labelNormal">Church Name</label>
                                <input type="text" class="form-control" id="firstName" placeholder="Enter first name" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group" style="margin-bottom: 0px !important;">
                        <div class="row">
                            <div class="col-xs-12">
                                <label for="line1" class="labelNormal">Address</label>
                                <input type="text" class="form-control" id="line1" placeholder="Enter line 1" />
                                <div class="form-group row">
                                    <div class="col-sm-6">
                                        <input type="text" class="form-control addyGutter" id="city" placeholder="City" />
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control addyGutter" id="state" placeholder="State" />
                                    </div>
                                    <div class="col-sm-3">
                                        <input type="text" class="form-control addyGutter" id="zip" placeholder="Zip" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="phone" class="labelNormal">Phone</label>
                        <div>
                            <input type="text" class="form-control" id="phone" placeholder="Enter phone" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email" class="labelNormal">Email</label>
                        <div>
                            <input type="text" class="form-control" id="email" placeholder="Enter email" />
                        </div>
                    </div>

                    <div class="clearfix" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default">Save</button>
                <button type="button" class="btn btn-primary">Save &amp; Open</button>
                <button type="button" class="btn btn-default">Save &amp; Add Another</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

@section scripts {

    <script src="~/js/church.js"></script>


}