@model NtccSteward.ViewModels.Common.Address.AddressVm

<div id="address_@Model.Id">
    <form class="form-horizontal" >
        <fieldset class="col-xs-12">

            <div class="form-group">
                <label for="line1" class="col-sm-1 control-label labelNormal">Line 1</label>
                <div class="col-sm-11">
                    @Html.TextBoxFor(m => m.Line1, new { @class = "form-control", @id = "line1", @placeholder = "Enter address line 1" })
                </div>
            </div>

            <div class="form-group">
                <label for="line2" class="col-sm-1 control-label labelNormal">Line 2</label>
                <div class="col-sm-11">
                    @Html.TextBoxFor(m => m.Line2, new { @class = "form-control", @id = "line2", @placeholder = "Enter address line 2" })
                </div>
            </div>

            @*<fieldset class="form-group">
                    <label for="line3" class="labelNormal">Line 3</label>
                    @Html.TextBoxFor(m => m.Line3, new { @class = "form-control", @id = "line3", @placeholder = "Enter address line 3" })
                </fieldset>*@

            <div class="form-group">

                <label for="city" class="col-xs-12 col-sm-1 control-label labelNormal">City/St/Zip</label>
                <div class="col-xs-6">
                    @Html.TextBoxFor(m => m.City, new { @class = "form-control", @id = "city", @placeholder = "City" })
                </div>
                <div class="col-xs-2">
                    @Html.TextBoxFor(m => m.State, new { @class = "form-control", @id = "state", @placeholder = "State" })
                </div>
                <div class="col-xs-3">
                    @Html.TextBoxFor(m => m.Zip, new { @class = "form-control", @id = "zip", @placeholder = "Zip" })
                </div>

            </div>  

            <div class="row">
                <div class="col-xs-1">
                    &nbsp;
                </div>
                <div class="col-xs-11" >                    
                    <label class="checkbox-inline addyVerified">@Html.CheckBoxFor(m => m.Verified, new { @class = "nscheckbox", @id = "verified", type = "checkbox" })  Verified</label>
                    <label class="checkbox-inline addyPreferred">@Html.CheckBoxFor(m => m.Preferred, new { @class = "nscheckbox", @id = "preferred", type = "checkbox" })  Preferred</label>
                    <img disabled class="img-responsive inline-block center icon addyActionImg" onclick="OpenMap('@Model.Id')" src="~/content/images/Maps-32.png" alt="Open map" />

                    @*<img class="icon addyRemoveImg" onclick="RemoveAddress(@Model.Id, 'address')" src="~/content/images/remove-32.png" alt="Remove Address" style="height:12px;vertical-align:middle;" />*@
                    <label class="addyRemoveLabel" onclick="RemoveAddress(@Model.Id, 'address')" title="remove">
                        <span class="glyphicon glyphicon-remove addyRemoveGlyph"></span> 
                    </label>
                </div>
            </div>

            <hr class="center" style="width:80%;" />        
        </fieldset>
    </form>
</div>