@model NtccSteward.Modules.Members.MemberProfile

@* This is the Member Profile (info and addresses) *@

@{
    ViewBag.Title = @Model.DisplayText;
}

@*Add checkbox for Holy Spirit Baptism and Water Baptism*@

    <div class="row">

        <input type="hidden" name="identityId" id="identityId" value="@Model.Id" />
        <form class="form-horizontal" >

            <fieldset class="col-sm-6">

                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label labelNormal">First</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", @id = "FirstName", @placeholder = "Enter first name" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="middleName" class="col-sm-2 control-label labelNormal">Middle</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.MiddleName, new { @class = "form-control", @id = "MiddleName", @placeholder = "Enter middle name" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label labelNormal">Last</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.LastName, new { @class = "form-control", @id = "LastName", @placeholder = "Enter last name" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="preferredName" class="col-sm-2 control-label labelNormal">Preferred</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.PreferredName, new { @class = "form-control", @id = "PreferredName", @placeholder = "Enter preferred name" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="gender" class="col-sm-2 control-label labelNormal">Gender</label>
                    <div class="col-sm-10">
                        <div class="radio-inline">
                            <label class="labelNormal">@Html.RadioButtonFor(m => m.Gender, "M", new { @class= "form-check-input", @type = "radio", @name = "genderRadio", @id = "maleRadio" }) Male</label>
                        </div>
                        <div class="radio-inline">
                            <label class="labelNormal">@Html.RadioButtonFor(m => m.Gender, "F", new { @class = "form-check-input", @type = "radio", @name = "genderRadio", @id = "femaleRadio" }) Female</label>
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label for="birthDate" class="col-sm-2 control-label labelNormal">Birthdate</label>
                    <div class="col-sm-10">
                        @*@Html.Html5DateRenderingMode*@
                        @*Not working, try http://stackoverflow.com/questions/25086909/how-to-use-html-textboxfor-with-input-type-date*@
                        @*http://stackoverflow.com/questions/31097748/date-does-not-display-from-model-on-html-input-type-date*@
                        @Html.TextBoxFor(m => m.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "BirthDate", @placeholder = "Enter date of birth", @type="date" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="DateSaved" class="col-sm-2 control-label labelNormal">Saved</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.DateSaved, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "DateSaved", @placeholder = "Enter date of Salvation", @type = "date" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="DateBaptizedHolyGhost" class="col-sm-2 control-label labelNormal">Spirit</label>
                    <div class="col-sm-10">
                           @Html.TextBoxFor(m => m.DateBaptizedHolyGhost, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "DateBaptizedHolyGhost", @placeholder = "Enter date of Holy Spirit Baptism", @type = "date" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="DateBaptizedWater" class="col-sm-2 control-label labelNormal">Baptized</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.DateBaptizedWater, "{0:yyyy-MM-dd}", new { @class = "form-control", @id = "DateBaptizedWater", @placeholder = "Enter date of Water Baptism", @type = "date" })
                    </div>
                </div>
            </fieldset>

            <fieldset class="col-sm-6">

                <div class="form-group">
                    <label for="church" class="col-sm-2 control-label labelNormal">Church</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.ChurchName, new { @class = "form-control", @id = "ChurchName", @placeholder = "Church name", @readonly="readonly" })
                        @Html.HiddenFor(m => m.ChurchId, new { @id="ChurchId" })
                    </div>
                </div>

                @*Make popup for changing Status*@
                <div class="form-group">
                    <label for="status" class="col-sm-2 control-label labelNormal">Status</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.StatusDesc, new { @class = "form-control", @id = "StatusDesc", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.StatusId, new { @id= "StatusId" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="status" class="col-sm-2 control-label labelNormal">Reason</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.StatusChangeTypeDesc, new { @class = "form-control", @id = "StatusChangeTypeDesc", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.StatusChangeTypeId, new { @id= "StatusChangeTypeId" })
                    </div>
                </div>

                @*Make popup for changing sponsor*@
                <div class="form-group">
                    <label for="sponsor" class="col-sm-2 control-label labelNormal">Sponsor</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(m => m.Sponsor, new { @class = "form-control", @id = "Sponsor", @readonly = "readonly" })
                        @Html.HiddenFor(m => m.SponsorId, new { @id = "SponsorId" })
                    </div>
                </div>

                <div class="form-group">
                    <label for="Married" class="col-sm-2 control-label labelNormal vetMrdLbl">Married?</label>
                    <div class="col-sm-10">
                        <label class="custom-control custom-checkbox">
                            @Html.CheckBoxFor(m => m.Married, new { @class = "custom-control-input", @id = "Married", type = "checkbox" })
                            <span class="custom-control-indicator"></span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="Veteran" class="col-sm-2 control-label labelNormal vetMrdLbl">Veteran?</label>
                    <div class="col-sm-10">
                        <label class="custom-control custom-checkbox">
                            @Html.CheckBoxFor(m => m.Veteran, new { @class = "custom-control-input", @id = "Veteran", type = "checkbox" })
                            <span class="custom-control-indicator"></span>
                        </label>
                    </div>
                </div>

                <div class="form-group">
                    <label for="comments" class="col-sm-2 control-label labelNormal">Comments</label>
                    <div class="col-sm-10">
                        @Html.TextAreaFor(m => m.Comments, new { @class = "form-control", @id = "Comments", @placeholder = "Enter comments", @rows="6" })
                    </div>
                </div>

            </fieldset>

        </form>
    </div>


<div class="row" style="margin-top:10px;">
    <div id="addressList">
        <div class="sectionBand">
            <span class="sectionTitle">Address</span>
            <hr class="help-block" />
        </div>
        <div id="addressList_@Model.Id">
            @for (var i = 0; i < Model.AddressList.Count; i++)
            {
                Html.RenderPartial("~/Views/Shared/AddressInfo/_Address.cshtml", Model.AddressList[i]);
            }
        </div>
        <div class="sectionBand">
            <label style="cursor:pointer;" onclick="AddAddress(@Model.Id, 'address', 'addressList_@Model.Id' )"><img id="addAddy" src="~/content/images/add.png" style="width:20px;height:20px;vertical-align:middle;margin-bottom:4px;" />  Add address</label>
        </div>
    </div>
</div>

<div class="row" style="margin-top:10px;">
    <div id="phoneList">
        <div class="sectionBand">
            <span class="sectionTitle">Phone</span>
            <hr class="help-block" />
        </div>
        <div id="phoneList_@Model.Id">
            @for (var i = 0; i < Model.PhoneList.Count; i++)
            {
                Html.RenderPartial("~/Views/Shared/AddressInfo/_Phone.cshtml", Model.PhoneList[i]);
            }
        </div>
        <div class="sectionBand">
            <label style="cursor:pointer;" onclick="AddAddress(@Model.Id, 'phone', 'phoneList_@Model.Id')"><img id="addAddy" src="~/content/images/add.png" style="width:20px;height:20px;vertical-align:middle;margin-bottom:4px;" />  Add phone</label>
        </div>
    </div>
</div>

<div class="row" style="margin-top:10px;">
    <div id="emailList">
        <div class="sectionBand">
            <span class="sectionTitle">Email</span>
            <hr class="help-block" />
        </div>
        <div id="emailList_@Model.Id">
            @for (var i = 0; i < Model.EmailList.Count; i++)
            {
                Html.RenderPartial("~/Views/Shared/AddressInfo/_Email.cshtml", Model.EmailList[i]);
            }
        </div>
        <div class="sectionBand">
            <label style="cursor:pointer;" onclick="AddAddress(@Model.Id, 'email', 'emailList_@Model.Id' )"><img id="addEmail" src="~/Content/images/add.png" style="width:20px;height:20px;vertical-align:middle;margin-bottom:4px;" />  Add email</label>
        </div>
    </div>
</div>

@{ 
    Html.RenderPartial("~/Views/Message/_Message.cshtml");
}

@*<script type="text/javascript">
    $(function () {
        $("#birthDate").datepicker({
            showOtherMonths: true,
            selectOtherMonths: true,
            changeMonth: true,
            changeYear: true,
            yearRange: "-100:+0"
        });
    });
</script>*@
